@import url('reset.css');

body {
	background-image:url(images/papertexture.jpg);
	background-repeat:repeat-y;
	
}

h3 {}

a {
	text-decoration:none;
	color: #c14013;
}

p {
	padding-bottom:20px;
}

abbr {}




#css-zen-garden {}

	.page-wrapper {}
	
		.intro {
			width:96%;
			margin-left:2%;
			margin-right:2%;
			margin-top:50px;
			background-color:none;
			text-align:center;
			padding-bottom: 495px;
			background-image:url(images/zengarden.png);
			background-repeat:no-repeat;
			background-position:bottom;
			
		}
		
		.intro p {
			width:50%;
			margin-left:25%;
			
		}
	
			.intro header {}
	
				h1 {display:none;}
		
				h2 {
					font-size: 3em;
				}
			
			.summary {
				padding-top:40px;
				padding-bottom:100px;
				background-image:url(images/steps2.png);
				background-repeat: no-repeat;
				background-position: bottom;
				
			}
			
				.summary p:first-child {
					padding-bottom:150px;
					background-image:url(images/well1.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
		
			.preamble {
				padding-top: 60px;
				padding-bottom:30px;
				background-image:url(images/column3.png);
				background-repeat: repeat-x;
				background-position: top;
			}
			
				.preamble h3 {
					font-size:1.5em;
					padding-bottom: 180px;
					background-image:url(images/entrance.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
				.preamble p {
					padding-bottom: 120px;
					background-image:url(images/colonnade2.png);
					background-repeat:no-repeat;
					background-position:bottom;	
				}
		

@media all and (min-width:1201px) {

		.supporting {
			width: 65%;
			margin-left: 5%;
			float:left;
			margin-top:50px;
		}
		
			.supporting h3 {
				padding-bottom:10px;
				font-size:1.3em;
			}
		
			.supporting div {
				
			}
	
			.explanation {
				float:left;
				width:35%;
				border:10px solid rgba(36,27,5,0.8);
				border-right:0;
				background-image:url(images/column4.png);
				background-repeat:repeat-y;
				background-position:top right;	
				padding-right:20px;
				padding-left:5px;
				padding-top:20px;
				text-align:left;
			}
			
				.explanation p {
					padding-bottom:150px;
					background-image:url(images/well2.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
		
			.participation {
				float:right;
				width:40%;
				margin-right:6%;
				border:10px solid rgba(36,27,5,0.8);
				border-left:0;
				padding-right:5px;
				padding-left:20px;
				background-image:url(images/column4.png);
				background-repeat:repeat-y;
				background-position:top left;
				padding-top:20px;
				text-align:right;
			}
			
				.participation p {
					padding-bottom:150px;
					background-image:url(images/well3.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
		
			.benefits{
				float:left;
				clear:both;
				width:92%;
				margin-bottom:60px;
				margin-top:60px;
				padding-bottom:50px;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
			
				.benefits h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
		
			.requirements {
				float:left;
				width:92%;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
						
				.requirements h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.requirements p {
					padding-bottom:150px;
					background-image:url(images/well4.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
		
			footer {
				float:left;
				clear:both;
				margin-top:50px;
				margin-bottom:300px;
			}
				
				footer a {
					padding:20px;
					margin-right:20px;
					border:10px solid rgba(36,27,5,0.8);
					border-top:0;
				}
		
		.sidebar {
			width:25%;
			margin-left:70%;
			
				
		}
	
			.wrapper {}
		
				.design-selection {}
			
					.select {
						font-size:2em;
						padding-top:40px;
						margin-bottom:30px;
						padding-top: 60px;
						padding-bottom:0px;
						background-image:url(images/column3.png);
						background-repeat: repeat-x;
						background-position: top left;
					}
				
					.design-selection ul {}
					
						.design-selection li {
							background-color: rgba(148,205,229,0.3);
							width:250px;
							padding:10px;
							text-align:center;
							margin-bottom:20px;
							border:2px solid rgba(36,27,5,0.6);
							
						}
					
						.design-name {
							font-size:1.3em;
							display:block;
							padding-bottom:20px;
						}
					
						.designer-name {
							color:#1c5167;
						}
				
				.design-archives {
					margin-top:20px;
					margin-bottom:20px;
					width:255px;
					text-align:center;
					border:10px solid rgba(36,27,5,0.8);
					border-top:0;
					padding-top:40px;
					padding-bottom:20px;
					background-image:url(images/colonnade2.png);
					background-repeat:no-repeat;
					background-position:top;	
					
				}
			
					.archives {
						font-size:1.3em;
					}
				
					.design-archives ul {}
				
						.next {}
				
							.indicator{}
					
						.viewall {}
				
				.zen-resources {
					margin-top:20px;
					margin-bottom:20px;
					width:245px;
					text-align:right;
					border:10px solid rgba(36,27,5,0.8);
					border-left:0;
					padding-top:20px;
					padding-bottom:20px;
					padding-right:20px;
					background-image:url(images/column3.png);
					background-repeat:no-repeat;
					background-position:left;
					
				}
			
					.resources {
						font-size:1.3em;
					}
				
					.zen-resources ul {}
				
						.view-css{}
					
						.css-resources {}
					
						.zen-faq {}
					
						.zen-submit {}
					
						.zen-translations {}
					
		.extra1 {}
	
		.extra2 {}
	
		.extra3 {}
	
		.extra4 {}
	
		.extra5 {}
	
		.extra6 {}
		
}		
		
		
@media all and (max-width:1200px) and (min-width:1001px) {



		.supporting {
			width: 65%;
			margin-left: 5%;
			float:left;
			margin-top:50px;
		}
		
			.supporting h3 {
				padding-bottom:10px;
				font-size:1.3em;
			}
		
			.supporting div {
				
			}
	
			.explanation {
				float:left;
				width:92%;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
				margin-bottom:60px;
			}
						
				.explanation h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.explanation p {
					padding-bottom:150px;
					background-image:url(images/well2.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
			.participation {
				float:left;
				width:92%;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
						
				.participation h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.participation p {
					padding-bottom:150px;
					background-image:url(images/well3.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
			.benefits{
				float:left;
				clear:both;
				width:92%;
				margin-bottom:60px;
				margin-top:60px;
				padding-bottom:50px;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
			
				.benefits h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
		
			.requirements {
				float:left;
				width:92%;
				border:10px solid rgba(36,27,5,0.8);
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
						
				.requirements h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.requirements p {
					padding-bottom:150px;
					background-image:url(images/well4.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
		
			footer {
				float:left;
				clear:both;
				margin-top:50px;
				margin-bottom:300px;
			}
				
				footer a {
					padding:20px;
					margin-right:20px;
					border:10px solid rgba(36,27,5,0.8);
					border-top:0;
				}
		
		.sidebar {
			width:25%;
			margin-left:70%;
			
				
		}
	
			.wrapper {}
		
				.design-selection {}
			
					.select {
						font-size:2em;
						padding-top:40px;
						margin-bottom:30px;
						padding-top: 60px;
						padding-bottom:0px;
						background-image:url(images/column3.png);
						background-repeat: repeat-x;
						background-position: top left;
					}
				
					.design-selection ul {}
					
						.design-selection li {
							background-color: rgba(148,205,229,0.3);
							width:250px;
							padding:10px;
							text-align:center;
							margin-bottom:20px;
							border:2px solid rgba(36,27,5,0.6);
							
						}
					
						.design-name {
							font-size:1.3em;
							display:block;
							padding-bottom:20px;
						}
					
						.designer-name {
							color:#1c5167;
						}
				
				.design-archives {
					margin-top:20px;
					margin-bottom:20px;
					width:255px;
					text-align:center;
					border:10px solid rgba(36,27,5,0.8);
					border-top:0;
					padding-top:40px;
					padding-bottom:20px;
					background-image:url(images/colonnade2.png);
					background-repeat:no-repeat;
					background-position:top;	
					
				}
			
					.archives {
						font-size:1.3em;
					}
				
					.design-archives ul {}
				
						.next {}
				
							.indicator{}
					
						.viewall {}
				
				.zen-resources {
					margin-top:20px;
					margin-bottom:20px;
					width:245px;
					text-align:right;
					border:10px solid rgba(36,27,5,0.8);
					border-left:0;
					padding-top:20px;
					padding-bottom:20px;
					padding-right:20px;
					background-image:url(images/column3.png);
					background-repeat:no-repeat;
					background-position:left;
					
				}
			
					.resources {
						font-size:1.3em;
					}
				
					.zen-resources ul {}
				
						.view-css{}
					
						.css-resources {}
					
						.zen-faq {}
					
						.zen-submit {}
					
						.zen-translations {}
					
		.extra1 {}
	
		.extra2 {}
	
		.extra3 {}
	
		.extra4 {}
	
		.extra5 {}
	
		.extra6 {}

}


@media all and (max-width:1000px) {

		.supporting {
			width: 90%;
			margin-left: 5%;
			float:left;
			clear:both;
			margin-top:50px;
		}
		
			.supporting h3 {
				padding-bottom:10px;
				font-size:1.3em;
			}
		
			.supporting div {
				
			}
	
			.explanation {
				float:left;
				width:95%
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
				margin-bottom:60px;
			}
						
				.explanation h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.explanation p {
					padding-bottom:150px;
					background-image:url(images/well2.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
			.participation {
				float:left;
				width:95%;
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
						
				.participation h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.participation p {
					padding-bottom:150px;
					background-image:url(images/well3.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
				
			.benefits{
				float:left;
				clear:both;
				width:95%;
				margin-bottom:60px;
				margin-top:60px;
				padding-bottom:50px;
				border-top:0;
				border-bottom:0;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
			
				.benefits h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
		
			.requirements {
				float:left;
				width:95%;
				border-top:0;
				border-bottom:0;
				padding-bottom:50px;
				background-image:url(images/column5.png);
				background-repeat:repeat-x;
				background-position:bottom;
				text-align:center;
			}
						
				.requirements h3 {
					padding-top:50px;
					background-image:url(images/column5.png);
					background-repeat:repeat-x;
					background-position:top;
				}
				
				.requirements p {
					padding-bottom:150px;
					background-image:url(images/well4.png);
					background-repeat:no-repeat;
					background-position:bottom;
				}
		
			footer {
				float:left;
				clear:both;
				margin-top:50px;
				margin-bottom:50px;
			}
				
				footer a {
					padding:10px;
					padding-right:50px;
					margin:0px;
					border-bottom:10px solid rgba(36,27,5,0.8);
					float:left;
					clear:right;
					background-image:url(images/column5.png);
					background-repeat:no-repeat;
					background-position:right;
				}
		
		.sidebar {

			
			
				
		}
	
			.wrapper {
				clear:both;
				background-image:url(images/column3.png);
				background-repeat: repeat-x;
				background-position: top;
				margin-top:50px;
				
			}
		
				.design-selection {
					width:300px;
					margin-left:auto;
					margin-right:auto;
				}
			
					.select {
						font-size:2em;
						padding-top:40px;
						margin-bottom:30px;
						padding-top: 60px;
						padding-bottom:0px;
						
					}
				
					.design-selection ul {}
					
						.design-selection li {
							background-color: rgba(148,205,229,0.3);
							width:250px;
							padding:10px;
							text-align:center;
							margin-bottom:20px;
							border:2px solid rgba(36,27,5,0.6);
							
						}
					
						.design-name {
							font-size:1.3em;
							display:block;
							padding-bottom:20px;
						}
					
						.designer-name {
							color:#1c5167;
						}
				
				.design-archives {
					margin-top:20px;
					margin-bottom:20px;
					width:255px;
					text-align:center;
					border:10px solid rgba(36,27,5,0.8);
					border-top:0;
					padding-top:40px;
					padding-bottom:20px;
					background-image:url(images/colonnade2.png);
					background-repeat:no-repeat;
					background-position:top;	
					
					margin-left:auto;
					margin-right:auto;
					
				}
			
					.archives {
						font-size:1.3em;
					}
				
					.design-archives ul {}
				
						.next {}
				
							.indicator{}
					
						.viewall {}
				
				.zen-resources {
					margin-top:20px;
					margin-bottom:20px;
					width:245px;
					text-align:right;
					border:10px solid rgba(36,27,5,0.8);
					border-left:0;
					padding-top:20px;
					padding-bottom:20px;
					padding-right:20px;
					background-image:url(images/column3.png);
					background-repeat:no-repeat;
					background-position:left;
					
					margin-left:auto;
					margin-right:auto;
					
				}
			
					.resources {
						font-size:1.3em;
					}
				
					.zen-resources ul {}
				
						.view-css{}
					
						.css-resources {}
					
						.zen-faq {}
					
						.zen-submit {}
					
						.zen-translations {}
					
		.extra1 {}
	
		.extra2 {}
	
		.extra3 {}
	
		.extra4 {}
	
		.extra5 {}
	
		.extra6 {}

}