@import url('reset.css');

body {}

h3 {}

a {}

p {}

abbr {}




#css-zen-garden {}

	.page-wrapper {}
	
		.intro {
			width:90%;
			margin-left:5%;
			margin-right:5%;
			margin-top:30px;
			background-color:gold;
			text-align:center;
		}
	
			.intro header {}
	
				h1 {display:none;}
		
				h2 {
					font-size: 3em;
				}
			
			.summary {
				padding-top:40px;
				padding-bottom:100px;
			}
		
			.preamble {
				padding-bottom:30px;
			}
			
				.preamble h3 {
					font-size:1.5em;
					padding-bottom: 140px;
				}
		
		.supporting {
			width: 65%;
			margin-left: 5%;
			float:left;
			background-color: #8ff082;
		}
	
			.explanation {
				
			}
		
			.participation {}
		
			.benefits{}
		
			.requirements {}
		
			footer {}
		
		.sidebar {
			width:25%;
			margin-left:70%;
			background-color: #f3b1ff;
				
		}
	
			.wrapper {}
		
				.design-selection {}
			
					.select {}
				
					.design-selection ul {}
					
						.design-name {}
					
						.designer-name {}
				
				.design-archives {}
			
					.archives {}
				
					.design-archives ul {}
				
						.next {}
				
							.indicator{}
					
						.viewall {}
				
				.zen-resources {}
			
					.resources {}
				
					.zen-resources ul {}
				
						.view-css{}
					
						.css-resources {}
					
						.zen-faq {}
					
						.zen-submit {}
					
						.zen-translations {}
					
		.extra1 {}
	
		.extra2 {}
	
		.extra3 {}
	
		.extra4 {}
	
		.extra5 {}
	
		.extra6 {}